---
import { type Link } from "../content.config";
import { frontmatter as data, rawContent } from "@content/globals/hero.md";
import { marked } from "marked";

const html = marked(rawContent());
//const links = data.links as Link[];
const links = [];
---

<div
  class:list={[
    "hero",
  ]}
>
  <div class:list={["hero__text-container"]}>
    <div class="hero__text-container__text" set:html={html} />
  </div>
  {
    links && links.length > 0 && (
      <div class:list={["hero__buttons", "flex flex-row"]}>
        {links &&
          links.map(({ href, label }) => (
            <a href={href} class="button button--primary">
              {label}
            </a>
          ))}
      </div>
    )
  }
</div>
