---
import HeroContent, { frontmatter as data } from "@content/globals/hero.md";
const { label, href } = data.button;
---

<div
  class:list={[
    "hero",
    "bg-red-500 w-svw h-svh",
    "uppercase",
    "text-h1",
    "text-center",
  ]}
>
  <HeroContent />
  <a href={href}>{label}</a>
</div>
